/****** products list ******/
.item__wrapper {
  margin: 0 auto;
  box-sizing: content-box;
}

.products__item {
  width: 300px;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background: white;
  display: inline-block;
}

.products__item > *+* {
  margin-top: 12px;
} 

.item__id {
  display: none;
}

.item__img-ctl {
  width: 100%;
}

.item__img-ctl > img {
  width: 100%;
}

.item__name, .item__price {
  font-size: 1.2rem;
}

.item__add-to-cart {
  width: 100%;
  height: 28px;
  border: none;
  background-color: rgb(226, 169, 142);
  color: white;
}

.item__add-to-cart:focus {
  outline: none;
}

.item__add-to-cart:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px rgb(146, 89, 62);
}

.item__add-to-cart:active {
  box-shadow: none;
}

@media (max-width: 700px) {
  .item__wrapper {
    width: 90%;
    text-align: center;
  }
}

@media (min-width: 700px) and  (max-width: 1159px) {
  .item__wrapper {
    width: 680px;
    text-align: left;
  }
}

@media (min-width: 1160px) and (max-width: 1580px) {
  .item__wrapper {
    width: 1008px;
    text-align: left;
  }
}

@media (min-width: 1581px) {
  .item__wrapper {
    width: 1360px;
    text-align: left;
  }
} 


/****** Product Detail ******/

.modal__background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: display 5s ease-in-out;
}

.modal__container {
  background-color: rgb(253, 234, 215);
  margin: 5vh auto 0;
  padding: 28px;
  /* border: 1px solid #888; */
  width: 70%;
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.detail__container {
  width: 30%;
  margin: 0 auto;

  color: #7b7b7b;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

.detail__container * + * {
  margin-top: 10px;
}

.detail__img-ctl {
  max-width: 600px;
  margin: 0 auto;
}

.detail__img-ctl > img {
  width: 100%;
}

.detail__name, .detai__price {
  font-size: 1.2rem;
}

.detail__intro {
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 673px) {
  .detail__container {
    width: 100%
  }
}

@media (min-width: 674px) and  (max-width: 1205px) {
  .detail__container {
    width: 60%
  }
}